/* Variables */
:root {
  /* fonts */
  --main-font: 'Montserrat', sans-serif;

  /* colors */
  --main-background-color: #fafafa;
  --main-text-color: #ebebeb;
  --secondary-text-color: #212121;
  --accent-color: #987045;
  --secondary-accent-color: #755132;
  --hover-color: #614528;
  --placeholder: rgba(117, 117, 117, 0.8);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --disabled: #bdbbbb;

  --error-notification: #f2d0d3;
  --success-notification: #b8dbc1;
  --info-notification: #bfdbe0;

  /* others */
  --form-box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
  --message-box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8),
    0 0 40px rgba(0, 0, 0, 0.1) inset;

  --transition-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-timing-notification: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Body base styles */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;

  font-family: var(--main-font);
  letter-spacing: 0.03em;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;

  background-image: url(../assets/images/bg/bg_registration.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

/* not scroll body in case of opened modal */
body.modal-open {
  overflow: hidden;
}

/* to change img in game mode after registration*/
body.is-game-mode {
  background-image: url(../assets/images/bg/bg_game.jpg);
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding-bottom: 16px;
  padding-top: 16px;
}

/* reset default styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Container */
.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

@media screen and (max-width: 359.98px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 360px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.title {
  color: var(--secondary-accent-color);
  margin-bottom: 16px;
}

/* Button - base styles*/
.button {
  max-width: 100%;
  min-width: 200px;
  min-height: 40px;
  padding: 12px 20px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background-color: var(--accent-color);
  color: var(--main-text-color);
  border: 1px solid var(--accent-color);
  border-radius: 40px;
  cursor: pointer;

  transition: background-color var(--transition-timing),
    border-color var(--transition-timing), box-shadow var(--transition-timing);
}

.button:hover,
.button:focus {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:disabled {
  background-color: var(--disabled);
  border-color: var(--disabled);
}
