/*  Header styles */
.header {
  padding-top: 16px;
  padding-bottom: 16px;

  background-color: var(--main-background-color);
  backdrop-filter: blur(20px);

  opacity: 0.8;
  pointer-events: all;
  visibility: visible;

  transition: opacity var(--transition-timing),
    visibility var(--transition-timing);
}

/* hide header during registration */
.header.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.game-data {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.game-data__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (min-width: 768px) {
  .game-data__list {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .game-data__list {
    flex-wrap: nowrap;
  }
}

.game-data__item {
  display: flex;
  gap: 8px;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .game-data__item {
    flex-basis: calc((100% - 12px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .game-data__list {
    flex-basis: auto;
  }
}

.game-data__value {
  width: 140px;
  overflow-x: hidden;

  font-family: inherit;
  font-size: 16px;
  font-weight: inherit;

  background-color: transparent;
  color: inherit;
  border: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .game-data__value {
    width: 170px;
  }
}

.user-data__item {
  color: var(--secondary-accent-color);
}

@media screen and (min-width: 768px) {
  .user-data__item .game-data__value {
    width: 200px;
  }
}
