/*  Header styles */
.header {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--main-background-color);
  opacity: 0.5;
  backdrop-filter: blur(20px);
}

.header__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

@media screen and (min-width: 768px) {
  .header__list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.header__item {
  flex-basis: calc((100% - 12px) / 2);
  display: flex;
  justify-content: center;
  gap: 8px;
  color: black;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .header__item {
    flex-basis: auto;
  }
}
